[Desktop Entry]
Categories=Development;IDE
Comment=Python IDE for beginners with some libs
Icon=thonny-env
Name=ThonnyEnv
Type=Application
Version=0.1

